<title>ConfCopier | <%= title %></title>
<meta charset="UTF-8">
<meta name="description" content="A tool for copying Confluence pages from one Confluence instance to another">
<meta name="keywords" content="Atlassian, Confluence">
<meta name="author" content="Tim Leach">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
