ul.content-trees {
    list-style: none;
    padding: 0 0 0 0.5em;
    margin-left: 0.5em;
    border-left: #ddd solid 2px;
}

ul.content-trees ul {
    list-style: none;
    padding: 0 0 0 0.5em;
    margin-left: 0.5em;
    border-left: #ddd solid 2px;
}
